<form id="selarchivo1" action='/seleccionaarchivo/1' method="POST" style="display:none;" >
    <label for="subearchivo" class="subir">Subir archivo de Administradores:</label>
    <input id="subearchivo" type="file" name="file" style="display:none;" onchange="cambiar()">
    <div id="info""></div>
    <input type="submit" value="Cargar">
</form>
<script>
    function cambiar(){
        var nomarchivo = document.getElementById('subearchivo').files[0].name
        document.getElementById('info').innerHTML = nomarchivo
    }
</script>