<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mini-default.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
<header class="sticky">
    <div class="registro-inicio">
        <a href="#"><%=usuario.nombres%> <%=usuario.apellidos%></a> |
        <a href="/cierresesion">Cerrar Sesion</a>
    </div>
    <a href="#" class="logo"><img src="images/logoFongracetales.jpg" width="15%" height="13%"></a>
    <!-- <a href="/" class="button"><span class="icon-home"></span> Inicio</a> -->
    <!-- <a href="/autores" class="button"><span class="icon-user"></span> Autores</a> -->
</header>