<footer class="sticky pie">
    <p>
       Via 40 No. 54-299 Barranquilla- Colombia </br>
       Tel: (5)3390000 Ext. 8177</br>
       secretaria@fongracetales.com
       <!--Derechos Reservados &copy; 2018-->
    </p>
</footer>
</body>
</html>